body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* NAVBAR */

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background: rgba(33, 79, 192, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(33, 79, 192, 0.31);
  height: 80px;
  margin-top: 0;

  .nav > li {
    color: white;
  }
  .nav > li:hover {
    color: rgb(224, 163, 64);
  }
}
a {
  text-decoration: none;
  color: white;
}
html {
  width: 100%;
  height: 100vh;
}
.fa {
  margin-left: 7px;
}
.img {
  width: 100%;
  height: 200px;
}
.productContainer {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.products {
  width: 300px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}
.productDesc {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.products:hover {
  box-shadow: 0 8px 16px rgba(220, 89, 89, 0.6);
}

.productDesc span {
  display: block;
  margin-bottom: 5px;
}
.productDesc span b {
  margin-right: 5px;
}
.add {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add:hover {
  background-color: #0056b3;
}
.NoItems {
  font-size: 50px;
  font-weight: 600;
  margin-top: 100px;
}
.Name {
  font-weight: 700;
  color: rgba(25, 38, 220, 0.886);
}
.text-center {
  font-weight: 400;
  font-style: oblique;
}
.footer {
  background: rgba(89, 140, 78, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(89, 140, 78, 0.66);
  padding: 0px;
  height: 50px;
  bottom: -15px;
}
.quantity-display {
  padding: 0px 20px 0px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.buttons {
  border-radius: 20px;
  border-color: aqua;
  text-align: center;
}
.button1 {
  border-radius: 50%;
  border-color: aqua;
}
.button-container {
  display: flex;
  margin-bottom: 2px;
}
.Total-price {
  margin-right: auto;
}
.cart-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
